body{
  white-space: nowrap
}
.index-1 .texttop{
  font-family: 'Playfair Display', serif;
  font-style:oblique;
  font-size:5em;
  letter-spacing:0.3em;
}

/* slider_text */
.texttop1{
  /* font-size:2.5em; */
  font-size:3.5vmin;
  color:white;
  letter-spacing:0.3em;
  line-height: normal;
}
.texttop2{
  /* font-size:1.2em; */
  font-size:2.5vmin;
  color:white;
  line-height:3em;
  letter-spacing:0.3em;
  /* writing-mode: vertical-rl; */
  /* -ms-writing-mode: tb-rl; */
  /* -webkit-writing-mode:vertical-rl;   */
}

/* titles */
.title_text{
  font-size:4em;
  color: rgb(91, 91, 91);
  line-height:2em;
}
.title_text2{
  margin-top:5%;
  line-height: normal;
  font-size:1.5em;
  letter-spacing:0.3em;
  font-weight: bold;
  padding-bottom:2%;
}

.letter_text{
  line-height: 1.8em;
  font-size:1em;
  letter-spacing:0.1em;
}

.title_logo{
  letter-spacing:0.1em;
}

.footer_content{
  background-color:black; 
  color:white; 
  margin-top:10%;
  font-size:1.5vmin;
}

/* @media (max-width: 992px) { */
@media (max-width: 430px) {
  .texttop1{
    font-size:1em;
    letter-spacing:0.2em;
    line-height: normal;
  }
  .texttop2{
    font-size:0.8em;
    letter-spacing:0.1em;
    height:50%;
  }
  .title_text{
    font-size:2.5em;
    line-height:2em;
    letter-spacing:0.2em;
    /* text-align:left; */
  }
  .title_text2{
    font-size:1em;
    text-align:left;
  }
  .letter_text{
    font-size:0.8em;
    letter-spacing:0.3em;
    text-align:left;
  }
  body{
    white-space: normal;
  }
}

